/* * {
    outline: 1px solid blue;
} */

body, html {
    font-family: 'Lato',Hiragino Kaku Gothic ProN,'ヒラギノ角ゴ ProN W3',Meiryo,"メイリオ",Hiragino Kaku Gothic ProN,'ヒラギノ角ゴ ProN W3',sans-serif;
    width: 100%;
    height: auto;
    /* letter-spacing: 6px; */
    font-size: calc(100vw / 50);
}

section {
    width: 100%;
}
img {
    width: 100%;
}

.wht {
    color: var(--white);
}

.gry {
    color: var(--fgry);
}

.bgwht {
    background-color: var(--white);
}

.w-90 {
    width: 90%;
}

.w-80 {
    width: 80%;
}
/*________________________NAV______________________*/


/*___________________WRAPPER_______________________*/
#wrapper {
    /* background:url(../RINGO-img/background_red.png) fixed repeat var(--applered); */
    background-image: url(../RINGO-img/background_red.png);
    background-attachment: fixed;
    background-repeat: repeat; 
    background-position: center;
    background-color: var(--applered) ;
    /* background-color: var(--applered); */
    background-size: 1304px 1804px;
    min-width: 100%;
    max-width: 100%;
}
.banner-content, #footer {
    max-width: 1688px;
}
.banner-content {
    position: relative;   
    height: 150rem;
    background-color: #fff;
} 

.logo {
    z-index: 1;
    left: 3rem;
    top: 0;  
    display: block;
}

.logo {
    width: 30%;
    /* height: 27px; */
}

.logo a {
    width: 117px;
}

.svg_logo {
    width: 100%;
    display: inline;
    vertical-align: middle;
}

.svg_logo, .red {
    fill: var(--ringored);
}

.wht {
    fill: var(--white);
}

.bgbox {
    height: 1100px;
    overflow: hidden;
}

.ringo-bg {
    height: 100%;
    background-image:url(../RINGO-img/background_mainvisual.jpg) ;
    background-size:cover;
    background-position: center center;
    position: relative;
}

.svg_logo-ringo {
    width: 700px;
    bottom: 0;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
    
}

/* @media screen {
    
} */

/*_______________________FEATURE__________________________*/

.id-title {
    
    font-weight: 600;
    font-size: 2rem;
    color: var(--applered);
    margin-top: 6rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
}

.carousel-controller{
    display: flex;
    align-items: center;
    margin-left: 3rem;
    margin-top: 4rem;
}

.carousel-controller a {
    cursor: pointer;
}

.carousel-inner {
    margin-bottom: 4rem;
}

.carousel-indicators {
    position: relative;
    justify-content:flex-start;
    margin-right: 0;
    margin-left: 3rem;
    list-style: none;
}

.carousel-indicators li {
    width: 22px;
    height: 22px;
    margin-right: 1.5rem;
    margin-left: 0;
    border-radius: 25px;
    background-color: var(--applered);
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
    opacity: 0.3;
}

.carousel-control-prev,
.carousel-control-next {
    position: relative;
    background-color: var(--applered);
    margin-right: 0.2rem;
    width: 6.5rem;
    height: 6.5rem;
    opacity: 1;
    /* transition: opacity 0.3s ease; */
}

.h3{
    margin: 3rem;
    font-size: 2rem;
    font-weight: 900;

}

.date {
    color: #8c8c8c;
    font-size: 1.5rem;
    /* margin-left: 3rem; */
    letter-spacing: 0.2rem;
    font-weight: 600;
}

.news-link {
    vertical-align: mid;
    width: 4.5rem;
    height: 4.5rem;
}

.ar{
    fill: var(--applered);
}

.spanset span{
    font-size: 1.5rem;
    margin-left: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 2rem;
}

.spanred span {
    color: var(--applered);
}

.spanwht span {
    color: var(--white);
}
/*______________________________ABOUT____________________________*/

#ABOUT {
    padding-top: 7rem;    
    padding-left: 3rem;
    padding-bottom: 5rem;
}

.abouttile {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5rem;
    margin-bottom:3rem ;
}

.aboutsubtitle {
    font-size: 2.2rem;
    color: var(--white);
    font-weight: 900;
    padding-bottom: 1rem;
}

.dot-move {
    width: 1500px;
}

.dot {
    margin-bottom: 4rem;
    font-size: 5rem;
    height: 20px;
    width: 100vw;
}

.left {
    position: relative;
    width: 100%;
    /* outline: 1px solid blue; */
}

.left:before {
    background-image: url(../RINGO-img/dot.svg);
    background-size: contain;
    background-position: center center;
    height: 100%;
    content: '';
    position: absolute;
    /* display: block; */
    background-repeat: repeat-x;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* transform: translateX(-40%); */
    animation: dotrunning-left 12s linear infinite;
}


@keyframes dotrunning-left {
    0%{
        transform: translateX(-40%);
    }
    100%{
        transform: translateX(-2.2%);
    }
}

.aboutsz {
    height: 40px;
    width: 180px;
    
}

.aboutcontent {
    font-size: 1.8rem;
    padding-right: 20px;
    font-weight: 600;
    line-height: 60px;
}

.fwrap {
    word-wrap: break-word;
}

/*__________PRODUCT_______________*/

#PRODUCT {
    background-color: var(--white);
    padding-top: 5rem;
}

.title-rsz {
    padding-left: 3rem;
    padding-top: 5rem;
}
.productbg {
    background-image: url(../RINGO-img/background_top-product.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 35rem;
}

.btn-sz{
    width: 90%;
}

.btn-sz ul{
    margin-top: 10rem;
}

.point-head {
    background-color: var(--white);
    height: 120px;width: 120px;
    border-radius: 50%;
    /* top: 0;
    left: 50%;
    transform: translate(-50%,25%)  */
}

.point-head img{
    height: 60px;width: 50px;
}
.border-out {
    height: 180px;width: 180px;
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
}

.border-out svg {
    position: absolute;
    width: 100%;
    top:0;
    left:0;     
    animation: rotate 3s linear infinite;
}

.border {
    stroke: var(--white);
    fill: none;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.dropline:before {
    position: absolute;
    content: '';
    border-right: 6px dotted #fff;
    height: 100px;
    top: 100%;
    right: 50%;
    left: 0;
    bottom: 0;
}
.ball:before {
    content: '';
    background-color: var(--white);
    width: 30px;
    height: 30px;
    position: absolute;
    border-radius: 50%;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

.product-info {
    left:50%;
    transform: translateX(-50%);
    top: 350px;
}

.pititle {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.adlh {
    line-height: 50px;
}

.sndmove {
    top: 550px;
}

/*________________SHOP______________________*/

.shopbg {
    height: 400px;
    position: relative;
    margin-bottom: 12rem;
}

.shopcover {
    background-image: url(../RINGO-img/background_next_shop.jpg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.shopprofile::before {
    background-image: url(../RINGO-img/mitsukoshi-toyota-750x422.jpg);
    content: '';
    position: absolute;
    /* height: 30%; */
    width: 30%;
    padding-top: 16.5%;
    background-size: contain;
    background-repeat: no-repeat;
    top: 17rem;
    left: 2rem;
    border: 3px solid var(--white);
}


.shopcontent h3 {
    font-size: 2.4rem;
}

/*___________________________NEWS_____________________________*/

#NEWS {
    background-color: var(--white);
    /* padding-top: 5rem; */
}

.newsbox {
    padding-top: 3rem;    
    width: auto;
    max-width: 1400px;

}

.newsbox ul {
    /* width: 100%; */
    display: flex;
    justify-content: space-evenly;
}

.newsbox li {
    width: 40%;
    padding-bottom: 5rem;
    /* margin-left: 2rem;
    margin-right: 3rem; */
}

.cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.newsimg{
    /* height: auto; */
    width: 100%;
    position: relative;
    
}

.newsimg::before {
    height: 4px;
    width: 100%;
    background-color: var(--applered);
    content: '';
    display: inline-block;
    top:0;
    left: 0;
    position: absolute;

}

.newsimg::after {
    padding-top: 50%;    
    content: '';
    display: block;
}

.h4 {
    color: #575757;
    line-height: 2.8rem;
    font-weight: 600;
    font-size: 1.8rem;
}

/*________________________________FOOTER_____________________________*/

#FOOTER {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.f-slogan {
    width: 60%;
}

.f-logo {
    width: 100%;
}
.f-btn {
    width: 40%;
}

.f-svg  {
    width: 100%;
}

.f-p {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
}

.i-facebook {
    width: 18%;

}

.i-twitter {
    width: 18%;
}

.i-instagram {
    width: 18%;
}