body, html {
    font-family: Lato,Hiragino Kaku Gothic ProN,'ヒラギノ角ゴ ProN W3',Meiryo,"メイリオ",Hiragino Kaku Gothic ProN,'ヒラギノ角ゴ ProN W3',sans-serif;
    width: 100%;
    height: auto;
    letter-spacing: 0.75em;
    font-size: calc(100vw / 75);
}

section {
    width: 100%;
}
img {
    width: 100%;
}

#wrapper {
    
    /* background:url(../RINGO-img/background_red.png) fixed repeat var(--applered); */
    background-image: url(../RINGO-img/background_red.png);
    background-attachment: fixed;
    background-repeat: no-repeat; 
    /* background-color: var(--applered); */
    background-size: 1000px 1000px;
}
.banner-content, #footer {
    max-width: 1688px;
}
.banner-content {
    position: relative;    
}

.logo {
    z-index: 100;
    left: 3rem;
    top: 3rem;  
    display: block;
}

.logo {
    width: 30%;
    /* height: 27px; */
}

.logo a {
    width: 117px;
}

.svg_logo {
    width: 100%;
    display: inline;
    vertical-align: middle;
}

.svg_logo, .red {
    fill: var(--ringored);
}

.wht {
    fill: var(--white);
}

.ringo-bg {
    background-size: cover;
    background-image:url(../RINGO-img/background_mainvisual.jpg) ;
    background-repeat: no-repeat;
    background-position: center center;
    height: 80rem;
    position: relative;
}

.svg_logo-ringo {
    width: 100%;
    bottom: 0;
    
}

@media screen {
    
}

/*_______________________FEATURE__________________________*/

.id-title {
    
    font-weight: 500;
    font-size: 2.8rem;
    color: var(--applered);
    margin-top: 9rem;
    margin-left: 5rem;
    margin-bottom: 3rem;
}